//
// Status message
//

.status-message {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;

  .search-label,
  .search-query {
    font-weight: 700;
  }
}

.status-message-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.status-message-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
