// stylelint-disable selector-no-qualifying-type

//
// Form controls
//

.form-control {
  display: block;
  width: 100%;
  height: $form-control-height;
  padding: $form-control-padding-y $form-control-padding-x;
  font-size: $form-control-font-size;
  line-height: $form-control-line-height;
  color: $form-control-color;
  background-color: $form-control-bg;
  background-clip: padding-box;
  border: $form-control-border-width solid $form-control-border-color;
  @include border-radius($form-control-border-radius);
  @include transition($form-control-transition);

  &::placeholder {
    color: $form-control-placeholder-color;
  }

  &:focus {
    color: $form-control-focus-color;
    background-color: $form-control-focus-bg;
    border-color: $form-control-focus-border-color;
    @if $enable-shadows {
      outline: 0;
      box-shadow: 0 0 0 $form-control-focus-width rgba($form-control-focus-border-color, .5);
    }
  }

  &:disabled,
  &[readonly] {
    background-color: $form-control-disabled-bg;
  }
}

// stylelint-disable-next-line no-duplicate-selectors
select.form-control {
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.form-control {
  height: auto;
}

//
// Checkboxes and radios
//

.form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}

//
// Form groups
//

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

//
// Help text
//

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
  font-size: $form-text-font-size;
  color: $form-text-color;
}
