// Options
// Color system
// Fonts, components, and more
// Grid breakpoints
// Body
// Headings
// Paragraphs
// Horizontal rules
// Inline text elements
// Code
// Lists
// Tables
// Blockquotes
// Addresses
// Figures
// Forms
// Buttons

//
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:      true !default;
$enable-shadows:      true !default;
$enable-transitions:  true !default;

//
// Color system
//

$white:      #fff !default;
$gray-100:   #f8f9fa !default;
$gray-200:   #e9ecef !default;
$gray-300:   #dee2e6 !default;
$gray-400:   #ced4da !default;
$gray-500:   #adb5bd !default;
$gray-600:   #6c757d !default;
$gray-700:   #495057 !default;
$gray-800:   #343a40 !default;
$gray-900:   #212529 !default;
$black:      #000 !default;

$primary:    #007bff !default;
$secondary:  $gray-700 !default;
$light:      $gray-100 !default;
$dark:       $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$text-muted:  $gray-600 !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
// Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

//
// Fonts, components, and more
//

// stylelint-disable value-keyword-case
$font-family:            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

$font-size:              1rem !default;
$font-weight-lighter:    lighter !default;
$font-weight-light:      300 !default;
$font-weight-normal:     400 !default;
$font-weight-bold:       700 !default;
$font-weight-bolder:     bolder !default;
$line-height:            1.5 !default;
$border-width:           1px !default;
$border-radius:          .25rem !default;
$box-shadow:             0 .5rem 1rem rgba($black, .15) !default;

$spacer:                 1rem !default;

// Forms + Buttons
$input-padding-y:        .375rem !default;
$input-padding-x:        .75rem !default;
$input-font-size:        $font-size !default;
$input-line-height:      $line-height !default;
$input-border-width:     $border-width !default;
$input-border-radius:    $border-radius !default;
$input-focus-width:      .2rem !default;

//
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),
  $grid-breakpoints
);

//
// Body
//

$body-font-family:  $font-family !default;
$body-font-size:    $font-size !default;
$body-font-weight:  $font-weight-normal !default;
$body-line-height:  $line-height !default;
$body-color:        $gray-900 !default;
$body-bg:           $white !default;

//
// Headings
//

$headings-margin-bottom:  .5rem !default;
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;

$h1-font-size:            $font-size * 2.5 !default;
$h2-font-size:            $font-size * 2 !default;
$h3-font-size:            $font-size * 1.75 !default;
$h4-font-size:            $font-size * 1.5 !default;
$h5-font-size:            $font-size * 1.25 !default;
$h6-font-size:            $font-size !default;

//
// Paragraphs
//

$paragraph-margin-bottom:  1rem !default;

//
// Horizontal rules
//

$hr-margin-y:      1rem !default;
$hr-border-width:  $border-width !default;
$hr-border-color:  rgba($black, .1) !default;

//
// Inline text elements
//

//= Links

$link-color:             theme-color("primary") !default;
$link-hover-color:       darken($link-color, 15%) !default;
$link-decoration:        none !default;
$link-hover-decoration:  underline !default;

//= Small

$small-font-size:        80% !default;
$small-font-weight:      $font-weight-normal !default;

//= Mark

$mark-padding:           .2em !default;
$mark-color:             $black !default;
$mark-bg:                #ffecb3 !default;

//
// Code
//

$code-font-size:     87.5% !default;
$code-color:         #e83e8c !default;

$pre-margin-bottom:  1rem !default;
$pre-font-size:      $code-font-size !default;
$pre-color:          $body-color !default;

$kbd-padding:        .2rem .4rem !default;
$kbd-font-size:      $code-font-size !default;
$kbd-color:          $white !default;
$kbd-bg:             $gray-900 !default;
$kbd-border-radius:  $border-radius !default;

//
// Lists
//

$list-margin-bottom:  1rem !default;

//
// Tables
//

$table-margin-bottom:             1rem !default;
$table-cell-padding:              .75rem !default;
$table-border-width:              $border-width !default;

//= Default

$table-color:                     $body-color !default;
$table-bg:                        transparent !default;
$table-accent-bg:                 rgba($black, .03) !default;
$table-border-color:              $gray-300 !default;
$table-row-hover-color:           $body-color !default;
$table-row-hover-bg:              rgba($black, .045) !default;

//= Light

$table-light-color:               $gray-900 !default;
$table-light-bg:                  $gray-100 !default;
$table-light-accent-bg:           rgba($black, .03) !default;
$table-light-border-color:        darken($table-light-bg, 7.5%) !default;
$table-light-row-hover-color:     $gray-900 !default;
$table-light-row-hover-bg:        rgba($black, .045) !default;

//= Dark

$table-dark-color:                $white !default;
$table-dark-bg:                   $gray-900 !default;
$table-dark-accent-bg:            rgba($white, .03) !default;
$table-dark-border-color:         lighten($table-dark-bg, 7.5%) !default;
$table-dark-row-hover-color:      $white !default;
$table-dark-row-hover-bg:         rgba($white, .045) !default;

//= Light head

$table-thead-light-color:         $gray-900 !default;
$table-thead-light-bg:            $table-light-bg !default;
$table-thead-light-border-color:  darken($table-thead-light-bg, 7.5%) !default;

//= Dark head

$table-thead-dark-color:          $white !default;
$table-thead-dark-bg:             $table-dark-bg !default;
$table-thead-dark-border-color:   lighten($table-thead-dark-bg, 15%) !default;

//= Caption

$table-caption-padding:           .75rem !default;
$table-caption-color:             $text-muted !default;
$table-caption-text-align:        left !default;
$table-caption-side:              bottom !default;

//= Striped rows

$table-striped-order:             odd !default;

//
// Blockquotes
//

$blockquote-margin-bottom:  1rem !default;

//
// Addresses
//

$address-margin-bottom:  1rem !default;

//
// Figures
//

$figure-margin-bottom:  1rem !default;

//
// Forms
//

$label-margin-bottom:               .5rem !default;

$form-control-padding-y:            $input-padding-y !default;
$form-control-padding-x:            $input-padding-x !default;
$form-control-font-size:            $input-font-size !default;
$form-control-line-height:          $input-line-height !default;
$form-control-color:                $gray-700 !default;
$form-control-bg:                   $white !default;
$form-control-border-width:         $input-border-width !default;
$form-control-border-color:         $gray-400 !default;
$form-control-border-radius:        $input-border-radius !default;
$form-control-height:               calc(#{($form-control-font-size * $form-control-line-height) + ($form-control-padding-y * 2)} + #{($form-control-border-width * 2)}) !default;

$form-control-transition:           border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$form-control-placeholder-color:    $text-muted !default;

$form-control-focus-color:          $form-control-color !default;
$form-control-focus-bg:             $form-control-bg !default;
$form-control-focus-border-color:   lighten(theme-color("primary"), 25%) !default;
$form-control-focus-width:          $input-focus-width !default;
$form-control-disabled-bg:          $gray-200 !default;

$form-text-margin-top:              .25rem !default;
$form-text-font-size:               $small-font-size !default;
$form-text-color:                   $text-muted !default;

$form-check-input-gutter:           1.25rem !default;
$form-check-input-margin-y:         .4rem !default;
$form-check-inline-margin-x:        .75rem !default;
$form-check-inline-input-margin-x:  .3125rem !default;

$form-group-margin-bottom:          $spacer !default;

//
// Buttons
//

$button-padding-y:            $input-padding-y !default;
$button-padding-x:            $input-padding-x !default;
$button-font-size:            $input-font-size !default;
$button-font-weight:          $font-weight-normal !default;
$button-line-height:          $input-line-height !default;
$button-border-width:         $input-border-width !default;
$button-border-radius:        $input-border-radius !default;
$button-transition:           color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-focus-width:          $input-focus-width !default;
$button-disabled-opacity:     .65 !default;

$button-toolbar-gutter:       .5rem !default;

//= Default button

$button-color:                $gray-900 !default;
$button-bg:                   $white !default;
$button-border-color:         $gray-300 !default;
$button-hover-color:          $gray-900 !default;
$button-hover-bg:             $gray-100 !default;
$button-hover-border-color:   $gray-400 !default;
$button-active-color:         $gray-900 !default;
$button-active-bg:            $gray-200 !default;
$button-active-border-color:  $gray-500 !default;
