.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.footer-inner {
  padding: 0;
  background-color: transparent;
}

//
// Text
//

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
}
